
/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PLINK_base_GWAS_QC_and_clump {
       publishDir = [
           path: { "${params.outdir}/1_PLINK_base_GWAS_QC_clump_converttobed" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_extract_GWAS_SNPs_into_bed {
       publishDir = [
           path: { "${params.outdir}/1_PLINK_base_GWAS_QC_clump_converttobed/into_bed" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK2_EXTRACT {
        //ext.args =  "--maf 0.01 --mac 100 --geno 0.1 --hwe 1e-15 --mind 0.1 --rm-dup force-first --make-bed"
        ext.args = ""
        ext.prefix = "extracted_chromfile"
        publishDir = [
            path: { "${params.outdir}/2_PLINK_EXTRACT" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PLINK_MERGE {
        ext.prefix = "allchrom"
        publishDir = [
            path: { "${params.outdir}/3_PLINK_MERGE" },
            mode: params.publish_dir_mode
        ]
    }




    withName: PLINK2_QC_PRUNE_HET {
       publishDir = [
           path: { "${params.outdir}/4_QC/PLINK2_QC_PRUNE_HET" },
           mode: params.publish_dir_mode
       ]
   }

    withName: R_PRS_QC {
       publishDir = [
           path: { "${params.outdir}/4_QC/R_PRS_QC" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK_PRODUCE_QC_DATASET {
       publishDir = [
           path: { "${params.outdir}/4_QC/PLINK_PRODUCE_QC_DATASET" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK2_ASSOC_GLM {
        ext.args =  "--maf 0.01 --mac 20 --geno 0.1 --hwe 1e-6" 
        publishDir = [
            path: { "${params.outdir}/5_PLINK2_ASSOC_GLM_ORs_perSNP/PLINK2_ASSOC_GLM" },
            mode: params.publish_dir_mode
        ]
    }

   withName: R_ANNOTATE_ORs {
       publishDir = [
           path: { "${params.outdir}/5_PLINK2_ASSOC_GLM_ORs_perSNP/ORs_perSNP" },
           mode: params.publish_dir_mode
       ]
   }

    withName: R_prepare_lists_for_clump {
        publishDir = [
            path: { "${params.outdir}/6_CLUMP/1_R_prepare_lists_for_clump" },
            mode: params.publish_dir_mode
        ]
    }
    withName: PLINK_clump {
       publishDir = [
           path: { "${params.outdir}/6_CLUMP/2_PLINK_clump" },
           mode: params.publish_dir_mode
       ]
   }

    withName: R_split_lists {
       publishDir = [
           path: { "${params.outdir}/6_CLUMP/3_R_split_lists" },
           mode: params.publish_dir_mode
       ]
   }
    withName: PRSice_calculate_PRS_split_partitions2 {
       publishDir = [
           path: { "${params.outdir}/7_PRSice_pPRSs" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_final_plot {
       publishDir = [
           path: { "${params.outdir}/8_R_final_plot" },
           mode: params.publish_dir_mode
       ]
   }


   

}
