
/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: GENERATESNPLISTS {
        publishDir = [
            path: { "${params.outdir}/1_devel_generatesnplists" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PLINK2_EXTRACT {
        //ext.args =  "--maf 0.01 --mac 100 --geno 0.1 --hwe 1e-15 --mind 0.1 --rm-dup force-first --make-bed"
        ext.args = ""
        ext.prefix = "extracted_chromfile"
        publishDir = [
            path: { "${params.outdir}/2_PLINK_extract_merge_subset" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PLINK_MERGE {
        ext.prefix = "allchrom"
        publishDir = [
            path: { "${params.outdir}/plink_extract_merge_subset" },
            mode: params.publish_dir_mode
        ]
    }

    //  withName: PLINK2_SUBSET {
    //     publishDir = [
    //         path: { "${params.outdir}/plink_extract_merge_subset" },
    //         mode: params.publish_dir_mode
    //     ]
    // }

    // withName: R_CALC_OR_perSNP {
    //     publishDir = [
    //         path: { "${params.outdir}/ORs_perSNP" },
    //         mode: params.publish_dir_mode
    //     ]
    // }

    withName: PLINK2_ASSOC_GLM {
        ext.args =  "--maf 0.01 --mac 20 --geno 0.1 --hwe 1e-6" 
        publishDir = [
            path: { "${params.outdir}/ORs_perSNP" },
            mode: params.publish_dir_mode
        ]
    }

   withName: R_ANNOTATE_ORs {
       publishDir = [
           path: { "${params.outdir}/ORs_perSNP" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK2_QC_PRUNE_HET {
       publishDir = [
           path: { "${params.outdir}/QC" },
           mode: params.publish_dir_mode
       ]
   }

    withName: R_PRS_QC {
       publishDir = [
           path: { "${params.outdir}/QC" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK_PRODUCE_QC_DATASET {
       publishDir = [
           path: { "${params.outdir}/QC" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PLINK_clump {
       publishDir = [
           path: { "${params.outdir}/modif_PRS_clump" },
           mode: params.publish_dir_mode
       ]
   }

    withName: PRSice_calculate_PRS_original {
       publishDir = [
           path: { "${params.outdir}/PRS_res" },
           mode: params.publish_dir_mode
       ]
   }
    withName: PRSice_calculate_PRS_substituted {
       publishDir = [
           path: { "${params.outdir}/PRS_res" },
           mode: params.publish_dir_mode
       ]
   }
    withName: PRSice_calculate_PRS_TS_partition {
       publishDir = [
           path: { "${params.outdir}/PRS_res" },
           mode: params.publish_dir_mode
       ]
   }
    withName: PRSice_calculate_4_partition {
       publishDir = [
           path: { "${params.outdir}/PRS_res" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_PRS_PPV_plotting {
       publishDir = [
           path: { "${params.outdir}/PRS_plots" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_plot_GO {
       publishDir = [
           path: { "${params.outdir}/ORs_perSNP/figs" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_calculate_compound_PRS_fit_and_plot {
       publishDir = [
           path: { "${params.outdir}/PRS_plots" },
           mode: params.publish_dir_mode
       ]
   }

   // ################################ INTERNAL VALIDATION ################################
   
    withName: PLINK_base_GWAS_QC_and_clump {
       publishDir = [
           path: { "${params.outdir}/PLINK_base_GWAS_QC_and_clump" },
           mode: params.publish_dir_mode
       ]
   }
    withName: R_extract_GWAS_SNPs_into_bed {
       publishDir = [
           path: { "${params.outdir}/R_extract_GWAS_SNPs_into_bed" },
           mode: params.publish_dir_mode
       ]
   }
   

}
